.location-input, .weather-overview {
	display: none;
}
ul {
	padding: 0;
}
.cities {
	position: absolute;
	background: rgba(200,200,200,.95);
}
.cities li {
	padding: 2px 5px;
}
.cities li:hover {
	background: grey;
	cursor: pointer;
}
.weekdays li {
	list-style: none;
	float: left;
	margin-right: 20px;
	text-align: center;
}